# compilation and distribution

__pycache__
_ext
*.pyc
*.so
build/
dist/

# numpy formats

*.pth
*.pkl
*.npy

# ipython/jupyter notebooks

*.ipynb
**/*.ipynb_checkpoints/

# Editor temporaries

*.swn
*.swo
*.swp
*~

# Pycharm editor settings

.idea

# temp
*.params
*.DS_Store
*.csv
*egg-info*
*.spec
*.h5
*.h5c
*.npy
*.zip
*.docx
*.tmp
*.vs
*.exe
*.log
*.tlog
*.lastbuildstate
*.obj
*.idb
*.ilk

# project dirs

data/
models/
outputs/
draft/